*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 16px;
    background-color: #f0fdf4;
}

.headContainer{
    display: flex;
    position: relative;
    background-color: #dcfce7;
    height: 20vh;
    width: 78.93vw;
    left: 20vw;
    z-index: 100;
    
}
.leftContainer{
    font-family: 'Source Sans 3';
    display: flex;
    position: absolute;
    background-color: #6ee7b7;
    width: 20vw;
    top: 0px;
    flex: 1;
    flex-direction: column;
    z-index: 200;
    color: white;
    height: 152vh;
}
.mainContainer{
    margin-top: 2vh;
    margin-left: 21vw;
    height: 130vh;
    width: 55vw;
    display: flex;
    flex-direction: column;
}
.rightContainer{
    margin-top: 4vh;
    display: grid;
    grid-template-rows: 5vh 60vh 5vh 60vh;
    flex-direction: column;
    position: absolute;
    width: 19vw;
    right: 2vw;
    top: 18vh;
    box-sizing: border-box;
    z-index: 200;
}

@media (max-width: 768px) {
    .rightContainer{
        grid-template-rows: 5vh 50vh 5vh 50vh;
}
}
