.rightContainer > div{
    background-color: #dcfce7;
    border-color: transparent;
    margin-bottom: 0.5vw;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightContainer h2{
    font-size: 1.4rem;
}

.bottomTop > div {
    width: 80%;
    margin-top: 2vw;
    padding-bottom: 2.2vw;
    transition: 0.15s;
}

.bottomTop{
    overflow: scroll;
}

.rightContainer > div > div > p {
    font-size: 1.1rem;
}

.bottomTop > div > div:nth-child(1){
    margin-top: 2.5vw;
    padding-bottom: 3vw;
}

.bottomTop > div:nth-child(1),
.bottomTop > div:nth-child(2){
    border-bottom: 2px solid #86efac;
}

.bottomTop > div:hover{
    transform: scale(1.05);
    border: 0.2px solid #86efac;
    cursor: pointer;
}



/* Below right sidebar Code*/

.rightContainer img {
    margin-top: 1vh;
    height: 4vw;
    width: 4vw;
    grid-row: 1/3;
    border-radius: 50%;

}

.bottomRight > div{
    min-width: 90%;
    min-height: 15%;
    display: grid;
    grid-template-columns: 5vw 12vw;
    grid-template-rows: 2vw 3vw;
    margin-left: 20px;
    margin-top: 4vh;
    transition: 0.15s;
}

.bottomRight > div:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.bottomRight > div > h5 {
    margin-top: 5%;
    font-size: 1.1rem;
}

.bottomRight >div > p{
    margin-top: 5%;
    font-size: 0.2rem;
    white-space: nowrap;
}


